@*@model NBD.Models.ProductionStageReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card-columns align-content-center">
    <div class="card  align-content-center" style="width:400px; height:500px;">
        <div class="card-body">
            <h4 class="card-title">Production Plan Details - Predicted</h4>

            <dl class="card-body">
                <dt>
                    @Html.DisplayNameFor(model => model.Project.EstStartDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Project.EstStartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Project.EstEndDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Project.EstEndDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Project.EstAmount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Project.EstAmount)
                </dd>
                @foreach(var item in Model.ProductionPlan.ProdPlanLabours)
                    <dt>

                    </dt>
            </dl>
        </div>
    </div>

    <div class="card  align-content-center" style="width:400px; height:500px;">
        <div class="card-body">
            <h4 class="card-title">Production Plan Details - Confirmed</h4>
            <dl class="card-body">
                <dt>
                    @Html.DisplayNameFor(model => model.ActualDesingHours)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ActualDesingHours)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ActualDesingCost)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ActualDesingCost)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Hours)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Hours)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remaining)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remaining)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <h4>ProductionStageReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstProdPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstProdPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCosttoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCosttoDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualMtl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualMtl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDesingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDesingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActuLaborPro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActuLaborPro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstLaborProdCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstLaborProdCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActuLaborDesingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActuLaborDesingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstLaborDesingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstLaborDesingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
