@model NBD.Models.ProductionStageReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductionStageReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstProdPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstProdPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCosttoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCosttoDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualMtl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualMtl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDesingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDesingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActuLaborPro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActuLaborPro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstLaborProdCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstLaborProdCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActuLaborDesingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActuLaborDesingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstLaborDesingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstLaborDesingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
