@model NBD.Models.MaterialReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Material Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Material.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtCosts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtCosts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Approved by:
            
        </dt>
        <dd class="col-sm-10">
            
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
