@model IEnumerable<NBD.Models.MaterialReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-light" asp-action="Create">Create New</a>

    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card  align-content-center" style="width:400px">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Material.Description)</h4>
                    <div>

                        @Html.DisplayFor(modelItem => item.Project.Name)

                    </div>
                    <a class="btn btn-light card-link" asp-action="Details" asp-route-id="@item.ID">Details</a>


                    @if (User.IsInRole("Admin, Manager"))
                    {
                        @:|
                        <a class="btn btn-light card-link" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-danger card-link" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
           
                        }


                </div>
            </div>
        }
    </div>
</p>
<div> <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger">Back to Home</a></div>

   
    @*</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Material) :
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity) :
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Costs) ($):
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExtCosts)  ($):
                    </th>

                    <th>
                        Approved By:

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Project)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Material.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Costs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExtCosts)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>*@
