@model IEnumerable<NBD.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p><a class="btn btn-light" asp-action="Create">Create New</a></p>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Phase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamEmployees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>

                    @{
                        int specCount = item.TeamEmployees.Count;
                        if (specCount > 0)
                        {
                            string firstSpec = item.TeamEmployees.FirstOrDefault().Employee.FullName;
                            if (specCount > 1)
                            {
                                string specList = "";
                                var c = item.TeamEmployees.ToList();
                                for (int i = 1; i < specCount; i++)
                                {
                                    specList += c[i].Employee.FullName + " <br />";
                                }
                                <a class="" role="button" data-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
                                    @firstSpec... <span class="badge badge-info">@specCount</span>
                                </a>
                                <div class="collapse" id="collapseSum@(item.ID)">
                                    @Html.Raw(specList)
                                </div>
                            }
                            else
                            {
                                @firstSpec
                            }
                        }
                    }
                    @*For help with Bootstrap Collapse see: https://getbootstrap.com/docs/4.0/components/collapse/*@

                </td>

                <td>


                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ID">Edit</a>

                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }



                    <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger">Back to Home</a>


