@model NBD.Models.ProductionPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card-columns align-content-center">
    <div class="card  align-content-center " style="width:400px; height:500px;">
        <div class="card-body">
            <h4 class="card-title">Production Plan Details</h4>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.ProjectID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Project.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TeamID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Team.TeamName)
                </dd>

            </dl>

        </div>

    </div>
    <div>
        <a class="btn btn-light" asp-action="LabourRequirements" asp-route-id="@Model.ID">See Labour Requirements</a>
    </div>
    
    <div>
        <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a class="btn btn-danger" asp-action="Index">Back to List</a>
    </div>
    </div>


   


    @*<dl>

            <dd>
                @Html.DisplayFor(modelItem => item.LabourRequirement.Task)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.LabourRequirement.EstDate)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.LabourRequirement.EstDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.LabourRequirement.EstHours)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.LabourRequirement.EstHours)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Team.TeamName)
            </dt>

            @foreach (var employee in Model.Team.TeamEmployees)
            {

                <dd>
                    @Html.DisplayFor(modelItem => employee.Employee.FullName)
                </dd>
            }

        </dl>
        }*@

